@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: "ABeeZee";
  src: url("../fonts/abeezee/ttf/abeezee-latin-400-normal.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: hidden;
    /* min-height: 100vh; */
  font-family: "Nunito", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.feature{
    position: relative;
  /* overflow: hidden; */
  width: 100%;
}

/* .hero {
  position: relative;
  overflow: hidden;
} */

/* curve BACKGROUND */
.curve-line {

      position: absolute;
    top: -300px;
    left: -294px;
    width: 1800px;
    z-index: 1;
    transform: rotate(-6.14deg);
}

.curve-line2{

position: absolute;
    top: -307px;
    left: -413px;
    width: 1727px;
    z-index: 1;
    transform: rotate(-5.14deg);
}

.curve-line3{

position: absolute;
    top: -205px;
    left: -397px;
    width: 1727px;
    z-index: 1;
    transform: rotate(-3.14deg);
}

.title,
.star {
  position: relative;
  z-index: 2;
}


/* .hero{overflow:hidden;} */

/* MAIN LAYOUT */

.container {
  display: flex;
  min-height: 100vh;
    display: flex;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

/* LEFT SIDE */

.wrapper-1 {
  flex: 1;
  padding: 40px 80px 0 120px;
}

/* RIGHT SIDE */

.wrapper-2 {
  width: 736px;
  background: #F1F6FE url("/images/wrapper-2 bg.png");
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

/* HEADER */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.logo {
  width: 50px;
}

.site-title {
  white-space: nowrap;
  font-size: 28px;
  font-weight: 600;

}

.nav__list {
  display: flex;
  gap: 28px;
  list-style: none;
}

.nav__list a {
  text-decoration: none;
  font-family: "ABeeZee";
  font-size: 20px;
  color: #838383;
}

/* HERO */

.hero {
  
  align-items: stretch;
}

.title {
  font-size: 47px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 0 20px;
}

.sub-main-title {
  font-size: 14px;         
  line-height: 1.5;        
  max-width: 560px;        
  color: #2D3134;
  margin-top: 12px;
}

.sub-section-card {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.students-number {
  font-size: 40px;
  margin: 0;
}

.students-text {
  font-size: 18px;
  margin: 0;
}

.sub-img {
  display: flex;
}

.sub-img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-left: -30px;
}

.sub-img img:first-child {
  margin-left: 0;
}

/* BUTTONS */

.buttons-section {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.btn-primary {
  padding: 20px 40px;
  background: #2F584E;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.btn-secondary {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.btn-secondary img {
  width: 60px;
}

/* IMAGE GRID */

.image-section {
  display: grid;
  grid-template-columns: repeat(2, 297px);
  gap: 24px;
}

.image-section div {
  width: 297px;
  height: 297px;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SHAPES */

.card-circle {
  border-radius: 50%;
}

.card-rect {
  border-radius: 16px;
}

.card-blob-1 {
  border-top-left-radius: 240px;
  border-bottom-left-radius: 240px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card-blob-2 {
  border-top-right-radius: 240px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* FOOTER */

.footer {
  
  width: 857px;
  height: 180px;
  background: #FF9257;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
    margin-top: -176px;
}

.footer-card {
  border-left: 4px solid #F7BE2C;
  padding-left: 20px;
}

.card-num {
  font-size: 56px;
  font-weight: 600;
  margin: 0;
}

.card-title {
  font-size: 20px;
  margin: 0;
}


.title {
  position: relative;
}

/* main orange circle */

.star {
  position: absolute;
    right: 203px;
    top: 69px;
  width: 42px;
  height: 43px;
}

/* inner white star */

.star img {
  width: 100%;
}

/* small inner icon */

.star-2 {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-2 img {
  width: 22px;
}
